#big-container{
    border: 1px;
}
.main-header{
    display: flex;
}  
navbar {
    display: inline;
    
}
.navbar p{
    margin-right: 80px;
}
#nav-bar{
    
   display: flex;
   
   justify-content: space-between;

}
span{
    color: red;
}
.Image1{
    width: 30px;
    height: 30px;
}
#Page1{
    justify-content: center;
    display: flex;
    background-color: rgb(241,241,241);
    gap:1%;
}
h1{
    font-size: 300%;
}
button{
    color: white;
    background-color: black;
    margin: 20px;
    height: 5vh;
    width: 70%;
}
.Image2{
    width: 700px;
    height: 700px;
}
#Page2{
    display: flex;
}
#Page3{
    display: flex;
    justify-content: center;
}
.Image4{
    height: 600px;
}
#Page4{
    display: flex;
}
.Image5{
    display: flex;
}
.Image6{
    display: flex;
}
.Image7{
    height: 800px;
    width: 600px;
}
.Image8{
    width: 1650px;
}
#Page6{
    display: flex;
    background-color: rgb(241,241,241);

}
.Part2{
    margin-left: 10%;
}

/* Media query for responsiveness */

@media screen and (min-width:280px) and (max-width:1024px){
    body{
        font-size: 10px;
    }
    
    #big-container{
        border: 1px;
    }
    .main-header{
        display: flex;
    }  
    navbar {
        display: inline;
    }
    .navbar p{
        margin-right: 80px;
    }
    #nav-bar{
        
       display: flex;
       
       justify-content: space-between;
    
    }
    span{
        color: red;
    }
    .Image1{
        width: 30px;
        height: 30px;
    }
    #Page1{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 300%;
    }
    button{
        color: white;
        background-color: black;
        margin: 20px;
        height: 5vh;
        width: 80%;
    }
    .Image2{
        width: 250px;
        height: 350px;
    }
    #Page2{
        display: flex;
        flex-direction: column;
    }
    .Image9{
        width: 350px;
        height: 350px;
    }
    #Page3{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .Image4{
        height: 200px;
    }
    #Page4{
        display: flex;
        flex-direction: column;
    }

    .Image5{
        display: flex;
    }
    .Image{
        width:150px ;
        height:150px ;
    }
    .Image6{
        display: flex;
    }
    .Image7{
        height: 400px;
        width: 300px;
    }
    .Image8{
        width: 400px;
        height: 200px;
    }
    #Page6{
        display: flex;
        gap: 2%;
        background-color: rgb(241,241,241);
    }
    .Part2{
        margin-left: 1%;
        flex-direction: column;
    }  

}

/* Media query for responsiveness 2 */





   